{% extends "base.html" %}
{% block title %}sensor{% endblock %}

{% block content %}
<!-- Start Row -->
  <div class="row">
    <div class="col-md-12">
      <h4>Display Sensor</h4>
        <p>传感器默认命名：中间数字是从站编号，末尾数字是传感器编号</p>
          {% for smodel in sonmodels %}
            <!-- Start Top Stats -->
            <ul class="topstats clearfix">
              <p class="lead">{{ smodel.name }}</p>
              {% for sor in sensor %}
                {% if smodel.id == sor.slave_id %}
                  <li class="col-xs-6 col-lg-2">
                    <span class="title"><i class="fa fa-eye"></i> {{ sor.name }} </span>
                    {% if sor.is_run %}
                        {% for slog in sensorlog %}
                          {% if slog.position == sor.position %}
                            <h3 class="color-up" id="state_{{smodel.slaveaddress}}{{sor.position}}">
                              {{slog.sensor_state}}
                            </h3>
                          {% endif %}
                        {% endfor %}
                    {% else %}
                      <a href="{{ url_for('sensor.createSensor', id=sor.id) }}">
                        <h3 class="color-down">未启动</h3>
                      </a>
                    {% endif %}
                    {% if sor.is_run %}
                      {% for slog in sensorlog %}
                          {% if slog.position == sor.position %}
                            <span class="diff" id="time_{{smodel.slaveaddress}}{{sor.position}}">{{slog.updata_time.strftime("%c")}}</span>
                          {% endif %}
                      {% endfor %}
                    {% endif %}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
            <!-- End Top Stats -->
          {% endfor %}
          <script type="text/javascript">
          function updataOption(){
            $.post('/updataOption',function(responce){
              var list  = eval(responce);
              for (var i = 0; i < list.data.length; i++) {

                $("#state_"+list.data[i].slaveid+list.data[i].position).html(list.data[i].state);
                $("#time_"+list.data[i].slaveid+list.data[i].position).html(list.data[i].time);
                
              }
              
            });
          }
          setInterval('updataOption()',3000);
          </script>
    </div>
  </div>
  <!-- End Row -->
  <br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br>
{% endblock %}