{% extends "base.html" %}
{% block title %}sensor{% endblock %}

{% block content %}
<!-- Start Row -->
  <div class="row">
    <div class="col-md-12">
      <h4>Display Sensor</h4>
        <p>传感器默认命名：中间数字是从站编号，末尾数字是传感器编号</p>
          {% for smodel in sonmodels %}
            <!-- Start Top Stats -->
            <ul class="topstats clearfix">
              <p class="lead">{{ smodel.name }}</p>
              {% for sor in sensors %}
                {% if smodel.id == sor[0].sonmodel_id %}
                  {% for sensor in sor %}
                    <li class="col-xs-6 col-lg-2">
                      <span class="title"><i class="fa fa-eye"></i> {{ sensor.name }} </span>
                      {% if sensor.is_run %}
                        <h3 class="color-up" id="state_{{smodel.id}}{{sensor.position}}">
                          Ready..
                        </h3>
                      {% else %}
                        <a href="{{ url_for('sensor.createSensor', id=sensor.id) }}">
                          <h3 class="color-down">Not Started</h3>
                        </a>
                      {% endif %}
                      <span class="diff">location: {{ sensor.location }}</span>
                    </li>
                  {% endfor %}
                {% endif %}
              {% endfor %}
              <li class="col-xs-6 col-lg-2" id="plusSensor">
                <span class="title"><i class="fa fa-dot-circle-o"></i>sensor</span>
                <h3><button onclick="plusSensor()" type="button" class="btn btn-success btn-xs"><i class="fa fa-plus"></i>Plus</button></h3>
                <span class="diff">--/--/-- --:--:--</span>
              </li>
            </ul>
          {% endfor %}
          <!-- End Top Stats -->
          <script type="text/javascript">
          function updataOption(){
            $.post('/updataOption',function(responce){
              var list  = eval(responce);
              for (var i = 0; i < list.sensor.length; i++) {

                $("#state_"+list.sensor[i].slaveid+list.sensor[i].position).text(list.sensor[i].state);

                if(list.sensor[i].state == 'Staring') {
                  $("#state_"+list.sensor[i].slaveid+list.sensor[i].position).css("color","#66CCCC")

                }else if(list.sensor[i].state == 'Normal'){
                  $("#state_"+list.sensor[i].slaveid+list.sensor[i].position).css("color","#3366FF")

                }else if(list.sensor[i].state == 'unOpen'){
                  $("#state_"+list.sensor[i].slaveid+list.sensor[i].position).css("color","#000000")

                }else {
                  $("#state_"+list.sensor[i].slaveid+list.sensor[i].position).css("color","red")
                }                
              }
              
            });
          }
          setInterval('updataOption()',3000);
          </script>
    </div>
  </div>
  <!-- End Row -->
  <br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br>
{% endblock %}