{% extends "base.html" %}

{% block title %}Logs{% endblock %}

{% block content %}
<!-- START CONTAINER -->
<div class="container-padding">

  <!-- Start Row -->
    <div class="row">

    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                <h4> 传感器日志</h4>
            </div>
        <div class="panel-body table-responsive">
         
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>ID.</td>
                        <td>SensorName</td>
                        <td>time</td>
                        <td>state</td>
                        <td>check_user</td>
                        <td>check_time</td>
                        <td>alarm</td>
                        <td>process_info</td>
                    </tr>
                </thead>
                <tbody>
                {% for slog in slogs %}
                        <td># <b>{{ loop.index }}</b></td>
                        <td>{{ slog.sensor_name }}</td>
                        <td>
                            {{ slog.time.strftime("%Y-%m-%d %H:%M:%S") }}
                        </td>
                        <td>{{ slog.sensor_state }}</td>
                        <td>{{ slog.check_user or '' }}</td>
                        <td>
                        {{ slog.check_time.strftime("%Y-%m-%d %H:%M:%S") if
                        slog.check_time is not none else '' }}</td>
                        <td>{{ slog.alarm }}</td>
                        <td>{{ slog.process_info or '' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
    <!-- End Panel -->
    </div>
    <!-- End Row -->
</div>
<!-- END CONTAINER -->
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
{% endblock %}